<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @checkout.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @checkout.end_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @checkout.user_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @checkout.book_id %>
</p>

<%= link_to 'Edit', edit_checkout_path(@checkout) %> |
<%= link_to 'Back', checkouts_path %>
